footer {
  height: 400px;
  padding: 40px 0px 40px 0px;
  span {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
  }

  .footer-container {
    text-align: center;
    padding-bottom: 50px;
    h1 {
      text-transform: uppercase;
      color: #fff;
    }
    p {
      width: 50%;
      margin: 0 auto;
      padding-top: 40px;
      color: #6c757d;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .fa {
    font-size: 55px;
    color: #6c757d;
  }
  .copyright {
    text-align: center;
    // color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 14px;
    margin: 0 auto;
  }
}
