<footer id="footer">
  <div class="footer-container row">
    <div class="col-md-12">
      <h1>Let's Get In Touch!</h1>
      <p>
        Ready to start your next project with us? Give us a call or send us an
        email and we will get back to you as soon as possible!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <img src="/assets/images/contacts/icon-pin.png" /><br /><br />
      <span>Address</span><br /><br />
      <span style="color:#6c757d;"
        >Coral Sands, Muizenberg,<br />Western Cape, 7945</span
      >
    </div>

    <div class="col-md-3">
      <img src="/assets/images/contacts/icon-phone-02.png" /><br /><br />
      <span>Phone</span><br /><br />
      <!-- <span><a href="tel: +27 78 0550 474">+27 78 0550 474</a></span
      ><br /> -->
      <span style="color:#6c757d;">+27 78 0550 474</span>
    </div>

    <div class="col-md-3">
      <img src="/assets/images/contacts/icon-envelope.png" /><br /><br />
      <span>Email</span><br /><br />
      <span style="color:#6c757d;"
        ><a href="mailto:mbowenitshepo@gmail.com"
          >mbowenitshepo@gmail.com</a
        ></span
      >
    </div>
    <div class="col-md-1"></div>
    <!-- <div class="col-md-3">
      <img src="/assets/images/contacts/icon-talk-bubble.png" /><br /><br />
      <span>LinkedIn</span><br /><br />
      <span>https://www.linkedin.com/in/tshepo-mboweni-07691536/</span
      ><br /><br />
    </div> -->

    <!-- <div class="col-md-1"></div> -->
    <p class="copyright">
      Copyright &copy; {{ copyrightCurrentDate }}
      Tshepo Mboweni All Rights Reserved.
    </p>
  </div>
</footer>
