<footer id="footer">
  <div class="footer-container row">
    <div class="col-md-12">
      <h1>Let's Get In Touch!</h1>
      <h4>
        Ready to start your next project with us? Give us a call or send us an
        email and we will get back to you as soon as possible!
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
    <p class="copyright">
      Copyright &copy; {{ copyrightCurrentDate }}
      Ramotse Art Theatre All Rights Reserved.
    </p>
  </div>
</footer>
