<h1 class="spin">PORTFOLIO</h1>

<!-- <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10" *ngFor="let portfolio of portFolios">
    <ul>
      <li>{{ portfolio.id }}</li>
    </ul>
  </div>
  <div class="col-md-1"></div>
</div> -->
<!-- <a href="http://www.google.com" target="_blank">testing............</a> -->
<div class="row" *ngFor="let project of portFolios">
  <div class="col-md-1"></div>
  <div class="div"></div>
  <div class="col-md-11">
    <!-- <button id="myButton" (click)="myFunction('{{project.id}}');"> </button> -->
    <button id="myButton" (click)="goToLink(project.url)">Home</button>

    <a href="{{ project.url }}">
      <img src="/assets/images/projects/usb-ed.jpg"
    /></a>

    <!-- <a
      (click)="
        goToLink(
          'https://applications.usb-ed.com/?iID=c9a37630-0836-e511-80c8-005056b8008e'
        )
      "
    >
      <img src="/assets/images/projects/usb-ed.jpg" />
    </a>

    <a (click)="goToLink('http://events.engagementfactory.com/cem')">
      <img src="/assets/images/projects/engagement-factory.jpg" />
    </a>

    <a href="https://iqos-friends.nurun.io/login.html">
      <img src="/assets/images/projects/iqos-colors-model_Z.jpg" />
    </a>

    <a href="http://productionprinting.ricoh.co.uk/managing-enterprise-output">
      <img src="/assets/images/projects/RICOH-SQ.jpg" />
    </a>
    <a href="https://www.thalesgroup.com/en">
      <img src="/assets/images/projects/thales-group.jpg" />
    </a>
    <a href="http://go.mclaren.com/arctic-experience-2019">
      <img src="/assets/images/projects/mclaren.jpg" />
    </a>
    <a href="http://go.mclaren.com/winter-ball-2018">
      <img src="/assets/images/projects/IM64Har3_400x400.jpg" />
    </a>

    <a href="http://dev.engagementfactory.com/Volvo-LP-anniversaire">
      <img src="/assets/images/projects/volvo.jpg" />
    </a>

    <a href="http://dev.engagementfactory.com/Volvo-LP-Bienvenue">
      <img src="/assets/images/projects/volvo2.png" />
    </a>
    <a href="http://dev.engagementfactory.com/Volvo-LP-restitution">
      <img src="/assets/images/projects/volvo4.jpg" />
    </a>

    <a href="http://biznes.ricoh.pl/">
      <img src="/assets/images/projects/Ricoh-Exton-crop.jpg" />
    </a>
    <a href="http://communication.ricoh.no/promo-ucs-advanced">
      <img src="/assets/images/projects/ricoh2.png" />
    </a>

    <a href="https://produkte.ricoh.at/promo-multifunktionssysteme">
      <img src="/assets/images/projects/Ricoh-1-Main-700x445.jpg" />
    </a>
    <a href="http://communication.ricoh.co.uk/super-collaboration">
      <img src="/assets/images/projects/ricoh-supercollaboration1.jpg" />
    </a>
    <a href="">
      <img src="/assets/images/projects/Coming-Soon-Placeholder1-400x400.jpg" />
    </a> -->
  </div>
  <!-- <div class="col-md-1"></div> -->
</div>
<!--
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <a href="">
      <img src="/assets/images/projects/ricoh-supercollaboration.jpg" />
    </a>
    <a href="">
      <img src="/assets/images/tito.png" />
    </a>
    <a href="">
      <img src="/assets/images/tito.png" />
    </a>
    <a href="">
      <img src="/assets/images/tito.png" />
    </a>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-md-1"></div>
  <div *ngFor="let portfolio of portFolios">
    <div class=" clearfix" ng-if="$index % 4 == 0">
      <img [src]="portfolio.imgUrl" />
    </div>
  </div>

</div> -->
