<h1 class="spin">PORTFOLIO</h1>

<!-- <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10" *ngFor="let portfolio of portFolios">
    <ul>
      <li>{{ portfolio.id }}</li>
    </ul>
  </div>
  <div class="col-md-1"></div>
</div> -->
<!-- <a href="http://www.google.com" target="_blank">testing............</a> -->
<div class="row">
  <!-- <div class="col-md-1"></div> -->
  <div class="portfolio" *ngFor="let project of portFolios">
    <!-- <img src="/assets/images/tech/html.png" />
    <img src="/assets/images/tech/angular.png" />
    <img src="/assets/images/tech/js.png" />
    <img src="/assets/images/tech/bootstrap.jpg" />
    <img src="/assets/images/tech/css.png" />
    <img src="/assets/images/tech/sass.png" />
    <img src="/assets/images/tech/angular-material.png" /> -->

    <!-- <button id="myButton" (click)="myFunction('{{project.id}}');"> </button> -->
    <!-- <button id="myButton" (click)="goToLink(project.url)">Home</button> -->

    <a (click)="goToLink(project.url)">
      <img [src]="project.imgUrl" />
    </a>
  </div>
  <!-- <div class="col-md-1"></div> -->
</div>

<!-- <div class="row">
  <div class="col-md-1"></div>
  <div *ngFor="let portfolio of portFolios">
    <div class=" clearfix" ng-if="$index % 4 == 0">
      <img [src]="portfolio.imgUrl" />
    </div>
  </div>

</div> -->
