<!-- about section  -->
<h1>ABOUT</h1>
<section id="about" class="about">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 col-md-offset-1">
      <img src="/assets/images/pounds3.jpeg" />
    </div>
    <div class="col-md-5">
      <h3>
        <span class="jobRol1e talk-arrow">Hi There</span>
      </h3>
      <br />
      <p>
        I'm an enthusiastic and very intense person who enjoys being part of, as
        well as leading a successful and productive team. Quick to grasp new
        ideas and concepts, and to develop innovative and creative solutions to
        problems. Able to work well on own initiative and can demonstrate the
        high levels of motivation required to meet the tightest of deadlines.
        Even under significant pressure, possesses a strong ability to perform
        effectively.
      </p>
      <span class="contacts-header">Name:</span><br />
      <span class="contacts">Tshepo Mboweni</span><br /><br />
      <span class="contacts-header">Phone:</span><br />
      <span class="contacts">+27 78 0550 474</span><br /><br />
      <span class="email">Email:</span><br />
      <span
        ><a href="mailto:mbowenitshepo@gmail.com"
          >mbowenitshepo@gmail.com</a
        ></span
      >
    </div>
    <div class="col-md-1"></div>
  </div>
</section>
