.navbar {
  position: fixed;
  top: 0;
  // background: transparent;
  width: 100%;
  height: 75px;
  z-index: 99;
  // background: #fff;
  // border-bottom: 1px solid #eee;
  .navbar-collapse button {
    background-color: transparent;
    border: none;
  }
  .navbar-collapse img {
    width: 50px;
    position: relative;
    top: 30px;
    cursor: pointer;
  }
}
.navbar ul {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  // color: #fff;
  margin: 0 10px;
}
.navbar ul li a {
  color: #fff;
  text-transform: uppercase;
}

html {
  background-color: #eeeeee;
}

.nav-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-link:hover:before,
.nav-link:focus:before,
.nav-link:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
