<app-menubar></app-menubar>

<div class="bg-image">
  <!-- <img src="/assets/images/tito.png" /> -->

  <h1>Tshepo Mboweni</h1>

  <h3>
    <span class="jobRole talk-arrow">Front End Developer</span>
    <span class="hidden jobRole talk-arrow">Hybrid Mobile Developer</span>
  </h3>
</div>

<section id="skills">
  <app-skills></app-skills>
</section>
<br /><br />

<section id="portfolio" style="padding-top: 282px;">
  <app-portfolio></app-portfolio>
</section>

<br /><br />

<section id="counter" class="counter-container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3" style="text-align: center;">
      <span class="Count counter">10</span><span class="counter">+</span><br />
      <span class="counter-text">Projects</span>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <span class="Count counter">5</span><span class="counter">+</span><br />
      <span class="counter-text">Years Experience</span>
    </div>
    <div class="col-md-3"></div>
  </div>
</section>

<app-about></app-about>
<!-- about section  -->
<!-- <section id="about" class="about">
  <h1>ABOUT</h1>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4 col-md-offset-1">
      <img src="/assets/images/slide11.jpg" />
    </div>
    <div class="col-md-6">
      <p>
        An enthusiastic and very intense person who enjoys being part of, as
        well as leading a successful and productive team. Quick to grasp new
        ideas and concepts, and to develop innovative and creative solutions to
        problems. Able to work well on own initiative and can demonstrate the
        high levels of motivation required to meet the tightest of deadlines.
        Even under significant pressure, possesses a strong ability to perform
        effectively.
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
</section> -->

<!-- experience section  -->
<!-- <section id="experience" class="experience">
  <h1>MY WORK</h1>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4 col-md-offset-1">
    </div>
    <div class="col-md-6">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum. Why do we use it? It is a long established fact that a
        reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a
        more-or-less normal distribution of letters, as opposed to using
        'Content
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
</section> -->

<!-- <section id="contact">
  <app-footer></app-footer>
</section> -->
