.bg-image {
  // background-image: url(http://forbetterweb.com/universal/wp-content/uploads/2016/11/14-4.jpg);
  background-image: url("/assets/images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center center;
  height: 1200px;
  opacity: 1;

  .hidden {
    display: none;
  }
  span {
    position: absolute;
    left: 45px;
    top: 10px;
    border: 3px solid #fff;
    padding: 32px;
  }
  h3 {
    width: 450px;
    // border: 1px solid #000;
    color: #fff;
    padding: 10px;
    left: 55px;
    top: 35px;
    position: relative;
  }

  h1 {
    padding-top: 140px;
    padding-left: 100px;
    text-align: left;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
  }
  h2 {
    color: #fff;
    text-align: center;
    // padding-top: 123px;
    font-size: 60px;
    position: relative;
    top: 142px;
    width: 35%;
    box-shadow: 13px 10px 12px #fff;
    margin: 0 auto;
  }
}

#skills {
  padding-top: 50px;
  padding-bottom: 40px;
  height: 500px;
}

h1 {
  text-align: center;
}
.about {
  // background: #093028; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #237a57,
  //   #093028
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #237a57,
  //   #093028
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-top: 50px;
  padding-bottom: 50px;
  // p {
  //   color: #fff;
  // }
  img {
    width: 350px;
    // border-radius: 50%;
  }
}
.experience {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #005aa7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  h1 {
    text-align: center;
  }
}
