.bg-image {
  // background-image: url(http://forbetterweb.com/universal/wp-content/uploads/2016/11/14-4.jpg);
  background-image: url("/assets/images/home.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  // background-position: center center;
  height: 700px;
  opacity: 1;
  h2 {
    color: #fff;
    text-align: center;
    // padding-top: 123px;
    font-size: 60px;
    position: relative;
    top: 142px;
    width: 35%;
    box-shadow: 13px 10px 12px #fff;
    margin: 0 auto;
  }
}

h1 {
  text-align: center;
}
.about {
  background: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
  // p {
  //   color: #fff;
  // }
  img {
    width: 300px;
    border-radius: 50%;
  }
}
.experience {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #005aa7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  h1 {
    text-align: center;
  }
}
