<h1>MY SKILLS</h1>
<div id="wrapper" class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <h2>Every Day is a New Challenge</h2>
    <p>
      In id nulla magna. Nullam posuere fermentum mattis. Nunc id dui at sapien
      faucibus fermentum ut vel diam. Nullam tempus, nunc id efficitur sagittis,
      urna est ultricies eros, ac porta sem turpis quis leo. Nulla in feugiat
      elit.
    </p>
    <p>
      Phasellus accumsan scelerisque dolor, quis mattis justo bibendum non.
      Nulla sollicitudin turpis in enim elementum varius. Vestibulum ante ipsum
      primis in faucibus orci luctus et ultrices posuere cubilia Curae
    </p>
    <a href="#footer" class="btn btn-contact">Contact Me</a>
  </div>

  <div class="col-md-6 skills_container">
    <div class="skill_name" id="skill_html">HTML</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_html"></div>
      <div class="skill_bar_percent">95%</div>
    </div>

    <div class="skill_name" id="skill_css">SCSS</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_css"></div>
      <div class="skill_bar_percent">95%</div>
    </div>

    <div class="skill_name" id="skill_angular">Angular</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_angular"></div>
      <div class="skill_bar_percent">75%</div>
    </div>

    <div class="skill_name" id="skill_javascript">JavaScript</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_javascript"></div>
      <div class="skill_bar_percent">75%</div>
    </div>

    <div class="skill_name" id="skill_bootstrap">Bootstrap</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_bootstrap"></div>
      <div class="skill_bar_percent">90%</div>
    </div>
  </div>
</div>
