<h1>MY SKILLS</h1>
<div id="wrapper" class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <h2>Every Day is a New Challenge</h2>
    <p>
      Front End Development is an exciting career because it's always evolving
      and constantly changing. This means you'll always have the opportunity to
      interact with new tools and learn new skills, keeping you engaged in your
      career. It's a field that provides many opportunities for hands-on
      learning.
    </p>
    <!-- <p>
      Phasellus accumsan scelerisque dolor, quis mattis justo bibendum non.
      Nulla sollicitudin turpis in enim elementum varius. Vestibulum ante ipsum
      primis in faucibus orci luctus et ultrices posuere cubilia Curae
    </p> -->
    <!-- <a href="#footer" class="btn btn-contact">Contact Me</a> -->
  </div>

  <div class="col-md-6 skills_container">
    <div class="skill_name" id="skill_html">HTML</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_html"></div>
      <div class="skill_bar_percent">95%</div>
    </div>

    <div class="skill_name" id="skill_css">CSS</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_css"></div>
      <div class="skill_bar_percent">90%</div>
    </div>

    <div class="skill_name" id="skill_angularjs">AngularJS</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_angularjs"></div>
      <div class="skill_bar_percent">70%</div>
    </div>

    <div class="skill_name" id="skill_angular">Angular</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_angular"></div>
      <div class="skill_bar_percent">70%</div>
    </div>

    <div class="skill_name" id="skill_javascript">JavaScript</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_javascript"></div>
      <div class="skill_bar_percent">70%</div>
    </div>

    <div class="skill_name" id="skill_jquey">JQuery</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_jquery"></div>
      <div class="skill_bar_percent">75%</div>
    </div>

    <div class="skill_name" id="skill_bootstrap">Bootstrap</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_bootstrap"></div>
      <div class="skill_bar_percent">90%</div>
    </div>

    <!-- <div class="skill_name" id="skill_angular_material">Angular Material</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_angular_material"></div>
      <div class="skill_bar_percent">85%</div>
    </div> -->

    <div class="skill_name" id="skill_sql">My SQL</div>
    <div class="skillbar_wrapper">
      <div class="skillbar_bar" id="skillbar_sql"></div>
      <div class="skill_bar_percent">70%</div>
    </div>
  </div>
  <!-- <div class="col-lg-1"></div> -->
</div>
